<div class="comments-counter">

</div>

<div class="comments-list-container">
    <div class="comments-list"></div>

    <div class="comments-list-pagination">

    </div>

</div>

<div class="comments-add-container">
    <h3>{{message "comments.add.title"}}</h3>
    {{#if user}}
    <form>
        <textarea rows="2" class="new-comment-text"></textarea>
        <input type="submit" class="btn" value="{{message "comments.add.send" }}">
        <p>
            <span class="label label-success" style="display:none">{{message "comments.add.success"}}</span>
            <span class="label label-important" style="display:none">{{message "comments.add.error"}}</span>
        </p>
    </form>
    {{else}}
    <p>{{message "comments.add.loginFirst"}}</p>
    {{/if}}
</div>