<div class="dataset-header">
    <div>
        <div class="dataset-header-actions"></div>
        
        <div class="dataset-header-info">
            <h2 class="dataset-header-title" title="{{ metadata.title }}">{{ metadata.title }}</h2>
        </div>
    </div>

    {{#if metadata.description }}
        <div>
            <p>{{ metadata.description }}</p>
        </div>
    {{/if}}
</div>
<div class="selection-actions">
    <a href="#" class="btn selection-visualize-all">Consultar todo</a>
    <a href="#" class="btn selection-visualize-selection">Consultar seleccion</a>
</div>

<div class="sidebar-container selection-sidebar-container">

</div>
<div class="selection-dimensions js-sidebar-container-sibling">

</div>