<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <override>
        <system/>
        <properties fileName="${stat4you.data.url}/common/conf/static/quartz.xml" config-name="quartz"/>
        <properties fileName="${stat4you.data.url}/crawler/conf/static/crawler-core.xml" config-optional="false"/>
        <properties fileName="${stat4you.data.url}/importation/conf/static/importation-core.xml" config-optional="false"/>
        <properties fileName="${stat4you.data.url}/idxmanager/conf/static/idxmanager-core.xml" config-optional="false"/>

        <properties fileName="${stat4you.data.url}/jobs/conf/dynamic/jobs-importation-idescat.xml" config-optional="false">
            <reloadingStrategy config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy" refreshDelay="10000"/>
        </properties>

        <properties fileName="../application.xml" config-optional="false"/>
    </override>
</configuration>