.captcha {
    & .captchaButton, .captchaImg, .captchaLabel, .captchaInput {
        box-sizing: border-box;
        display: block;
        width: 100%;
    }

    .captchaLabel {
        margin: 5px 0px;
        text-align: left;
    }

    .captchaButton {
        border: none;
        background: none;
        color: @istacBlueDark;
        font-size: 1.2em;
        margin-top: 10px;
    }
}