<div class="row hidden-phone">
    <div class="span12 index-hero">
        <div class="row index-hero-content">
            <div class="span11">
                <h1>¿Quieres enriquecer tus artículos con gráficos y mapas?</h1>
                <h2>En stat4you tienes todas las estadísticas del INE y del ISTAC para que crees tus gráficos fácilmente</h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span6">
        <div class="s4y-box">
            <div class="s4y-box-header">
                <h2>{{message 'page.main.lastPublishedDataset.ine.title'}}</h2>
            </div>
            <div class="s4y-box-container">
                <div class="index-datasets" id="ineDatasets">
                </div>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="s4y-box">
            <div class="s4y-box-header">
                <h2>{{message 'page.main.lastPublishedDataset.istac.title'}}</h2>
            </div>
            <div class="s4y-box-container">
                <div class="index-providers" id="istacDatasets">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="videoModal" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true" style="width:853"></div>