{{#each providers}}
    <div class="index-provider list-separator">
            <div class="index-provider-logo">
                <a href="{{context}}/providers/{{acronym}}">
                    <i class="provider-logo-min-{{ toLowerCase acronym}}"></i>
                </a>
            </div>
            <div class="index-provider-title">
                <a href="{{context}}/providers/{{acronym}}">
                    {{name}}
                </a>
            </div>
        </a>
    </div>
{{/each}}