<div class="search-header">

</div>
<div class="search-results">
    <div id="search-info-text" class="row">
        <div class="span12 search-results-info">

        </div>
    </div>

    <div class="row">
        <div class="span9">
            <div id="search-result-list"></div>
            <div class="infiniteScroll"></div>
        </div>
        <div id="search-facets" class="span3">
            <div class="facet-container">
            </div>
        </div>
    </div>
</div>