<div class="navbar-inner">
    <div class="container">
        <div class="header">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div id="navbar-logo">
                <a href="{{context}}/">
                    <img src="{{resourceContext}}/images/s4yNavBarCut.png" alt="Stat4you" width="90" height="31"/>
                </a>
            </div>

            <ul class="nav pull-right">
                {{#if user.username}}
                    <li class="navbar-user">
                        <a href="{{context}}/profile" class="navbar-user-profile" title="Perfil">
                        {{#if user.imageUrl}}
                            <img src="{{user.imageUrl}}" class="navbar-user-profile-avatar">
                        {{else}}
                            <img src="{{resourceContext}}/images/defaultUser.png" class="navbar-user-profile-avatar">
                        {{/if}}
                        {{user.username}}
                        </a>
                        <a href="{{context}}/signout" class="navbar-user-logout" rel="tooltip" title="Salir"><i class="icon-logout-min-gray"></i></a>
                    </li>
                {{else}}
                    <li><a class="navbar-signin" href="#"><strong>Iniciar sesión</strong></a></li>

                    <li class="locale dropdown">
                        <a href="#" class="dropdown-toggle navbar-lang" data-toggle="dropdown">
                            {{ currentLocale.label }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {{#each locales}}
                            <li><a href="{{context}}/app/changeLocale?locale={{id}}">{{label}}</a></li>
                            {{/each }}
                        </ul>
                    </li>
                {{/if}}
            </ul>

            <div class="nav-collapse">
                <ul class="nav links">
                    <li><a href="{{context}}/providers/">{{ message "navigation.providers" }}</a></li>
                    <li><a href="{{context}}/faq">{{ message "navigation.faq" }}</a></li>
                    <li><a href="http://blog.stat4you.com" target="_blank">{{message "navigation.blog" }}</a></li>
                </ul>

                <form id="nav-search-form" class="navbar-search pull-right" action="{{context}}/search">
                    <input type="text" name="query" class="search-query-input" placeholder="{{ message "navigation.search.placeholder" }}" />
                    <div class="icon-search-min"></div>
                </form>
            </div>
        </div>
    </div>
</div>