.dataset-header {
    .clearfix();
    margin-bottom: 20px;

    .dataset-header-title, p {
        margin-bottom: 5px;
    }

    .full-screen & { 
        display: none;
    }
}

.dataset-header-logo {
    display: block;
}

.dataset-header-info {
    margin-right: 250px;

    .dataset-header-title {
        font-size: 20px;
        line-height: 25px;
        color: @s4yDarkBlue;
        max-height: 50px;
        margin-top: 0;
    }
    .dataset-header-categories {
        font-style: italic;
        color: @s4yLightOrange;
    }
}

.dataset-header-actions {
    width: 250px;
    float: right;

    .dataset-headers-actions-buttons {
        text-align: right;
    }

    a {
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 13px;
    }
}

.datasets-visualization {
    position: relative;
    #visual-element {
        padding: 5px 5px 0 5px;

        #visual-element-and-filter {
            position: relative;
        }
        #visual-element-container {
            position: relative;
            height: 500px;

            h3 {
                font-size: 14px;
                line-height: 20px;
                margin: 5px 0;
                margin: 0 0 10px 0;
            }
        }
        #visual-element-options {
            float: right;
            #filter-loader {
                height: 41px;
            }
        }
        #change-visual-element {
            max-width: 240px;
        }
    }
}

.datasets-visualization.full-screen {
    #visual-element #visual-element-container {
        height: auto;
    }
    #visual-element #visual-element-and-filter {
        height: auto;
    }
}

.citation {
    font-size: 10px;
    font-style: italic;
    text-align: right;
}

.metadata-group {
    h3 {
        background: #ddd;
        .border-radius(4px 4px 4px 4px);
        padding-left: 5px;
    }

    .field {
        border-bottom: 1px solid #ebebeb;
        box-shadow: 0 1px 0 #FDFDFD;
        .metadata-title {
            display: block;
            color: @s4yDarkBlue;
            font-weight: bold;
            margin-top: 8px;
            margin-bottom: 2px;
        }

        .metadata-value {
            display: block;
            margin-bottom: 8px;
            color: #2F719E;
            word-wrap: break-word;
        }
    }

    .field:last-child {
        border-bottom: none;
        box-shadow: none;
    }

    li {
        color: #2F719E;
    }
}

.dataset-export {
    margin-bottom: 17px;

    .dropdown-menu li > a:hover {
        #gradient > .vertical(@s4yLightOrange, @s4yDarkOrange);
    }
}

.btn-group.open .btn-primary.dropdown-toggle {
    background-color: @s4yDarkOrange;
}

@datasetVisualizationOptionsBarHeight: 50px;
@optionsBarColor: @istacGrey;

.dataset-visualization {
    position: relative;
    height: 100%;
    .clearfix;

    .dataset-visualization-visual-element {
        height: 100%;
        padding-bottom: @datasetVisualizationOptionsBarHeight;
        .box-sizing(border-box);
        border-top: 1px solid #E5E5E5;
        border-right: 1px solid #E5E5E5;
        .border-radius(0 6px 6px 0);

        background: white;

        .dataset-widget & {
            padding-bottom: 21px;
        }

        h3 {
            margin-top: 0;

            .dataset-widget & {
                display: none;
            }
        }
    }

    .dataset-visualization-options-bar {
    	.options-bar;
    	.border-radius(0 0 6px 0);
    	position: absolute;
    	bottom: 0;
    	
    	.btn {
    	    .options-bar-btn;    	    
    	}
    }

}

// Options bar
.visual-element-options {
    .pull-right;

    .visual-element-options-edit {
        height: 41px;
    }
}

.change-visual-element {
    .pull-left;
    max-width: 400px;
}


.dataset-sidebar-visualization-container {
    margin-bottom: 20px;

    &.dataset-widget {
        margin-bottom: 0;

        .sidebar-container {
            display: block;
        }
    }    
}

.dataset-sidebar-visualization-container.full-screen {
    height: 100%;
    width: 100%;

    .sidebar-container {
        height: 100%;
    }
}

.dataset-options-type-icon {
    height: 28px;
    width: 37px;
    padding-left: 0;
    font-size: 27px;
    
    .btn-with-label & {
    	font-size: 18px;
    	padding-top: 2px;
    	padding-bottom: 2px;
    }

    &:before {
        color: #1e1e1e;
        padding: 2px 6px;
    }

}

.dataset-options-type-canvasTable {
    .dataset-options-type-icon;
    .icon-table;
}

.dataset-options-type-column {
    .dataset-options-type-icon;
    .icon-column;
}

.dataset-options-type-line {
    .dataset-options-type-icon;
    .icon-line;
}

.dataset-options-type-mapbubble {
    .dataset-options-type-icon;
    .icon-mapbubble;
}

.dataset-options-type-map {
    .dataset-options-type-icon;
    .icon-map;
}

.dataset-options-full-screen {
    .dataset-options-type-icon;
    .icon-full-screen;
}

.dataset-options-share {
    .dataset-options-type-icon;
    .icon-share;
}

.dataset-options-embed {
    .dataset-options-type-icon;
    .icon-embed;
}

.dataset-options-download {
    .dataset-options-type-icon;
    .icon-download;
}

.dataset-options-visualize {
    .dataset-options-type-icon;
    .icon-visualize;
}

.dataset-download {
    font-size: 60px;
    text-align: center;    

    form {
        display: inline;
    }

    a {
        color: #323232;

        &:hover {
            color: #0F5B95;
        }
    }

    .dataset-download-group {
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }
    }

}


.dataset-share-icon {
    height: 28px;
    width: 37px;
    padding-left: 0;
    font-size: 27px;
    
    &:before {
        color: #1e1e1e;
        padding: 2px 3px;
    }
}

.dataset-share {
    .dataset-share-icons {
        margin-top: 7px;

        .addthis_button_twitter {
            .dataset-share-icon;
            .icon-twitter;
            &:hover:before {
                color: #2CA8D2;
            }
        }
        .addthis_button_facebook {
            .dataset-share-icon;
            .icon-facebook;
            &:hover:before {
                color: #3b5999;
            }
        }
        .addthis_button_google_plusone_share {
            .dataset-share-icon;
            .icon-g_plus;
            &:hover:before {
                color: #CE4D39;
            }
        }
        .addthis_button_linkedin {
            .dataset-share-icon;
            .icon-linkedin;
            &:hover:before {
                color: #4498C8;
            }
        }
        .addthis_button_tuenti {
            .dataset-share-icon;
            .icon-tuenti;            
            &:hover:before {
                color: #5F729D;
            }
        }
        .addthis_button_diigo {
            .dataset-share-icon;
            .icon-diigo;            
            &:hover:before {
                color: #0888D8;
            }
        }
        .addthis_button_meneame {
            .dataset-share-icon;
            .icon-meneame;            
            &:hover:before {
                color: #F47312;
            }
        }
        .addthis_button_digg {
            .dataset-share-icon;
            .icon-digg;            
            &:hover:before {
                color: #16B4EF;
            }
        }
        .addthis_button_delicious {
            .dataset-share-icon;
            .icon-delicious;            
            &:hover:before {
                color: #07529C;
            }
        }
        .addthis_button_google {
            .dataset-share-icon;
            .icon-google;            
            &:hover:before {
                color: #0868B9;
            }
        }                                                
        .addthis_button_yahoobkm {
            .dataset-share-icon;
            .icon-yahoo;            
            &:hover:before {
                color: #791998;
            }
        } 
    }
}

.dataset-embed {
    textarea {
        width: 100%;
        height: 240px;
    }
}