.selection-dimensions {
	
	overflow: hidden;

    &> div {
        float: left;
        width: 349px; //magic number?

		margin-left: 2px;
        &:nth-child(even) {
            margin-right: 8px;
        }
        
        .full-screen & {
        	width: 49%;
        	min-width: 349px;
        	margin-right: 8px;
        }
    }
    .selection-options-bar {
    	margin-left: 0;
    	margin-bottom: 2px;    	
    	
    	.options-bar;
    	
    	.full-screen & {
    		width: 100%;
    	}
    	
    	.btn {
    	    .options-bar-btn;
    	}    	
    }

    .filter-sidebar-dimension {
        margin-bottom: 10px;
    }

    .filter-sidebar-dimension-title {
        margin-bottom: 0;
        cursor: auto;
    }

    .filter-sidebar-dimension-content {
        padding: 5px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        height: 400px;
		background-color: white;
    }
}

.selection-sidebar-container {
	float: left;
	width: auto;
	height: 438px;
	
	.full-screen & {
		height: 100% !important;
	}
}
