// Font sizes
@defaultFontSize: 11px;
@mapLegendFontSize: 11px;

// Istac
@istacBlueLightest: #0088cc;
@istacBlueLight: #2F719E;
@istacBlueMedium: #0F5B95;
@istacBlueDark: #0A3F67;
@istacBlueDarkest: #003366;
@istacYellow: #EBCC5C;

@istacWhite: #FFFFFF;
@istacGreyLightest: #EEEEEE;
@istacGreyLight: #EBEBEB;
@istacGreyMedium: #CCCCCC;
@istacGrey: #ACACAC;
@istacGreyDark: #808080;
@istacBlack: #222222;

@istacFontSansSerifFamily: Arial, Helvetica, sans-serif;
@istacFontSansSerif: @defaultFontSize @istacFontSansSerifFamily;
@istacFontSerifFamily: Tahoma, geneva, arial, sans-serif;

@imgCheckboxChecked: url("../../images/checkboxChecked.png");
@imgCheckboxNoChecked: url("../../images/checkboxNoChecked.png");

// Sprite icons path
// -------------------------
@iconSpritePath: "../../images/glyphicons-halflings.png";
@iconWhiteSpritePath: "../../images/glyphicons-halflings-white.png";

// Options Bar
@lIconHeight: 28px;
@mIconHeight: 18px;
@mIconWidth: 20px;
@datasetVisualizationOptionsBarHeight: 40px;
@optionsBarColor: @istacGreyLight;

// Dimensions Bar
@dimensionNonFixedHeight: 23px;
@dimensionFixedHeight: 50px;

@dimensionsBarTypeTable: 2 * @dimensionNonFixedHeight;
@dimensionsBarTypeDefault: 1 * @dimensionNonFixedHeight + @dimensionFixedHeight;

// Navbar
// -------------------------
@navbarHeight: 40px;

// Tooltip
@zindexTooltip: 1030;
@tooltipColor: @istacWhite;
@tooltipBackground: @istacBlack;
@tooltipArrowWidth: 5px;
@tooltipArrowColor: @tooltipBackground;