// Font sizes
@defaultFontSize: 11px;
@mapLegendFontSize: 11px;
// Actualizar constants con estos
// Istac
@istacBlueWhite: #B3D9FF; // PDF /Mapa
@istacBlueLightest: #56B5E6; // PDF
@istacBlueMedium: #1C547E; // PDF
@istacBlueDark: #003366; // PDF
@istacYellow: #EBCC5C;

@istacWhite: #FFFFFF;
@istacGreyLight: #EBEBEB; // PDF
@istacGreyMedium: #CCCCCC;
@istacGrey: #ACACAC; // PDF
@istacGreyDark: #808080; // PDF
@istacBlack: #222222;

@istacFontSansSerifFamily: Helvetica, Arial, sans-serif;
@istacFontSansSerif: @defaultFontSize @istacFontSansSerifFamily;
@istacFontSerifFamily: Tahoma, geneva, arial, sans-serif;

@imgCheckboxChecked: url("../../images/checkboxChecked.png");
@imgCheckboxNoChecked: url("../../images/checkboxNoChecked.png");

// Sprite icons path
// -------------------------
@iconSpritePath: "../../images/glyphicons-halflings.png";
@iconWhiteSpritePath: "../../images/glyphicons-halflings-white.png";

// Options Bar
@lIconHeight: 28px;
@mIconHeight: 18px;
@mIconWidth: 20px;
@datasetVisualizationOptionsBarHeight: 40px;
@optionsBarColor: @istacGreyLight;

// Dimensions Bar
@dimensionNonFixedHeight: 23px;
@dimensionFixedHeight: 50px;

@dimensionsBarTypeTable: 2 * @dimensionNonFixedHeight;
@dimensionsBarTypeDefault: 1 * @dimensionNonFixedHeight + @dimensionFixedHeight;

// Navbar
// -------------------------
@navbarHeight: 40px;

// Tooltip
@zindexTooltip: 1030;
@tooltipColor: @istacWhite;
@tooltipBackground: @istacBlack;
@tooltipArrowWidth: 5px;
@tooltipArrowColor: @tooltipBackground;