<script src='${contextPath}/theme/${applicationVersion}/js/libs/Backbone.ModelBinder.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/mixins/PaginableCollection.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/mixins/SelectableCollection.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/datasets/Dataset.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/datasets/Datasets.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/admin/remove/DatasetSelectionCollection.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/admin/remove/RemoveDatasetsTableRowView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/admin/remove/RemoveDatasetsTableView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/admin/remove/RemoveStateModel.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/admin/remove/RemoveView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/admin/remove/RemoveRouter.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/admin/status/StatusModel.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/admin/status/StatusCollection.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/admin/status/StatusView.js'></script>
