<script src='${contextPath}/theme/${applicationVersion}/js/libs/ba-linkify.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/comments/Comment.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/comments/Comments.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/comments/CommentView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/comments/CommentsView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/comments/CommentsMain.js'></script>
