<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/libs/smartscroll.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/mixins/FetchEventsForCollection.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/mixins/InfiniteScrollView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/search/SearchActiveProvider.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/search/SearchFacetsCollection.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/search/SearchQueryModel.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/search/SearchResultsCollection.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/search/SearchIndexRouter.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/search/SearchHeaderView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/search/SearchView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/search/SearchMain.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/mixins/PaginableCollection.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/datasets/Dataset.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/datasets/Datasets.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/datasets/DatasetView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/datasets/DatasetsView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/index/IndexView.js'></script>
