<script src='${contextPath}/theme/${applicationVersion}/js/libs/jquery-1.9.0.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/libs/tracekit.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/libs/i18n.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/libs/underscore.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/libs/underscore.string.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/libs/backbone.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/libs/backbone.marionette.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/libs/backbone.wreqr.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/libs/handlebars.runtime.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/libs/bootstrap.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/libs/modernizr-2.5.3.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/libs/moment.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/libs/cookies.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/libs/jquery.dotdotdot-1.5.0-packed.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/Stat4you.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/track.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/libs/HandlebarsHelpers.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/views/HandlebarsTemplates.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/TemplateManager.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/signin/SigninView.js'></script>
