<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/navbar/NavbarView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/user/Favourite.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/user/Favourites.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/user/User.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/libs/NavigationSearch.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/libs/AjaxForm.js'></script>
