<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/navbar/NavbarView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/user/Favourite.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/user/Favourites.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/user/User.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/libs/NavigationSearch.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/libs/AjaxForm.js'></script>
