<script src='${contextPath}/theme/${applicationVersion}/js/libs/Backbone.ModelBinder.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/mixins/PaginableCollection.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/datasets/Dataset.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/datasets/Datasets.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/datasets/DatasetView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/datasets/DatasetsView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/profile/ProfileFavouritesView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/profile/ProfileReadView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/profile/ProfileUpdateView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/profile/ProfileRouter.js'></script>
