<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/mixins/PaginableCollection.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/datasets/Dataset.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/datasets/Datasets.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/datasets/DatasetView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/datasets/DatasetsView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/providers/Provider.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/providers/Providers.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/providers/ProvidersView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/providers/ProviderDetailView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/stat4you/modules/providers/ProvidersRouter.js'></script>
