<script src='${contextPath}/theme/${applicationVersion}/js/metamac/libs/smartscroll.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/mixins/FetchEventsForCollection.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/mixins/InfiniteScrollView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/search/SearchActiveProvider.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/search/SearchFacetsCollection.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/search/SearchQueryModel.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/search/SearchResultsCollection.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/search/SearchRouter.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/search/SearchHeaderView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/search/SearchView.js'></script>
<script src='${contextPath}/theme/${applicationVersion}/js/metamac/modules/search/SearchMain.js'></script>
