<div class="profile-edit">
    <h1>{{message "profile.update.title" }}</h1>

    <form method="post" class="form-horizontal profile-update-form">


    {{#if errors }}
        <div class="profile-update-errors alert alert-error">
            {{message "profile.update.errors" }}
        </div>
    {{/if}}

    <fieldset>
        <legend>{{message "profile.update.information.title" }}</legend>

        <div class="control-group {{#if errors.name}}error{{/if}}">
            <label class="control-label" for="name">{{message "profile.update.information.name" }} *</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="name" name="name">
                <span class="help-inline">{{errors errors.name}}</span>
            </div>
        </div>

        <div class="control-group {{#if errors.surname}}error{{/if}}">
            <label class="control-label" for="surname">{{message "profile.update.information.surname" }}</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="surname" name="surname">
                <span class="help-inline">{{ errors errors.surname}}</span>
            </div>
        </div>

        <div class="control-group {{#if errors.username}}error{{/if}}">
            <label class="control-label" for="username">{{message "profile.update.information.username" }} *</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="username" name="username">
                <span class="help-inline">{{{ errors errors.username }}}</span>
            </div>
        </div>

        <div class="control-group {{#if errors.mail}}error{{/if}}">
            <label class="control-label" for="mail">{{message "profile.update.information.mail" }}</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="mail" name="mail">
                <span class="help-inline">{{ errors errors.mail}}</span>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>{{message "profile.update.preferences.title"}}</legend>

        <div class="control-group">
            <label class="control-label" for="lang">{{message "profile.update.preferences.language"}}</label>
            <div class="controls">
                <select name="locale" id="lang">
                    <option value="es">Español</option>
                    <option value="en">Inglés</option>
                    <option value="ca">Catalán</option>
                    <option value="eu">Euskera</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" name="platformNotification" value="true">
                    {{ message "profile.update.preferences.notifications.platform.label" }}
                </label>
            </div>
        </div>


    </fieldset>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{{message "profile.update.preferences.update"}}">
        <a class="btn profile-update-cancel">{{message "profile.update.preferences.cancel"}}</a>
    </div>
    </form>

</div>