#cabecera {
	border-left: none;
	border-right: none;
}

#cabecera h1 a{
	background: transparent url(../img/logo_DREM.jpg) no-repeat scroll 5px 0px;
	color: #005E31;
	float: left;
	height: 41px;
	width: 90%;
	padding: 20px 0 10px 200px;
	margin-top: 20px;
	margin-bottom: 10px;
	text-decoration: none;
	text-indent: 0;	
}

.footer {
	background: #E7E7E7;
	text-align: center;
	clear: both;
	
	padding: 10px;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	margin-top: 20px;
	float: left;
	width: 742px;
}

