/*

        Creating a sprite from following images:
        
        src/main/webapp/WEB-INF/theme/images/icons/account-min.png (12x12)
        src/main/webapp/WEB-INF/theme/images/icons/account.png (24x24)
        src/main/webapp/WEB-INF/theme/images/icons/calendar-min-gray.png (11x12)
        src/main/webapp/WEB-INF/theme/images/icons/calendar-min.png (11x12)
        src/main/webapp/WEB-INF/theme/images/icons/calendar.png (23x25)
        src/main/webapp/WEB-INF/theme/images/icons/canvasTable.png (25x25)
        src/main/webapp/WEB-INF/theme/images/icons/column.png (25x25)
        src/main/webapp/WEB-INF/theme/images/icons/fullscreen.png (24x30)
        src/main/webapp/WEB-INF/theme/images/icons/line.png (25x25)
        src/main/webapp/WEB-INF/theme/images/icons/logout-min.png (12x12)
        src/main/webapp/WEB-INF/theme/images/icons/logout.png (22x24)
        src/main/webapp/WEB-INF/theme/images/icons/notification-min.png (12x10)
        src/main/webapp/WEB-INF/theme/images/icons/notification.png (24x16)
        src/main/webapp/WEB-INF/theme/images/icons/pie.png (25x25)
        src/main/webapp/WEB-INF/theme/images/icons/provider-min-gray.png (13x13)
        src/main/webapp/WEB-INF/theme/images/icons/provider-min.png (13x13)
        src/main/webapp/WEB-INF/theme/images/icons/provider.png (24x24)
        src/main/webapp/WEB-INF/theme/images/icons/search-min.png (13x13)
        src/main/webapp/WEB-INF/theme/images/icons/search.png (24x24)
        src/main/webapp/WEB-INF/theme/images/icons/table.png (24x30)
        src/main/webapp/WEB-INF/theme/images/icons/tag_down-min.png (25x25)
        src/main/webapp/WEB-INF/theme/images/icons/tag_info-min.png (25x25)

        Output files:
          src/main/webapp/WEB-INF/theme/images/icons.png
          src/main/webapp/WEB-INF/theme/less/icons.less

        Output size:
          436x30


*/
.icon-account-min { width: 12px; height: 12px; background: url(../images/icons.png) 0px -9px no-repeat; }
.icon-account { width: 24px; height: 24px; background: url(../images/icons.png) -12px -3px no-repeat; }
.icon-calendar-min-gray { width: 11px; height: 12px; background: url(../images/icons.png) -36px -9px no-repeat; }
.icon-calendar-min { width: 11px; height: 12px; background: url(../images/icons.png) -47px -9px no-repeat; }
.icon-calendar { width: 23px; height: 25px; background: url(../images/icons.png) -58px -2px no-repeat; }
.icon-canvasTable { width: 25px; height: 25px; background: url(../images/icons.png) -81px -2px no-repeat; }
.icon-column { width: 25px; height: 25px; background: url(../images/icons.png) -106px -2px no-repeat; }
.icon-fullscreen { width: 24px; height: 30px; background: url(../images/icons.png) -131px 0px no-repeat; }
.icon-line { width: 25px; height: 25px; background: url(../images/icons.png) -155px -2px no-repeat; }
.icon-logout-min { width: 12px; height: 12px; background: url(../images/icons.png) -180px -9px no-repeat; }
.icon-logout { width: 22px; height: 24px; background: url(../images/icons.png) -192px -3px no-repeat; }
.icon-notification-min { width: 12px; height: 10px; background: url(../images/icons.png) -214px -10px no-repeat; }
.icon-notification { width: 24px; height: 16px; background: url(../images/icons.png) -226px -7px no-repeat; }
.icon-pie { width: 25px; height: 25px; background: url(../images/icons.png) -250px -2px no-repeat; }
.icon-provider-min-gray { width: 13px; height: 13px; background: url(../images/icons.png) -275px -8px no-repeat; }
.icon-provider-min { width: 13px; height: 13px; background: url(../images/icons.png) -288px -8px no-repeat; }
.icon-provider { width: 24px; height: 24px; background: url(../images/icons.png) -301px -3px no-repeat; }
.icon-search-min { width: 13px; height: 13px; background: url(../images/icons.png) -325px -8px no-repeat; }
.icon-search { width: 24px; height: 24px; background: url(../images/icons.png) -338px -3px no-repeat; }
.icon-table { width: 24px; height: 30px; background: url(../images/icons.png) -362px 0px no-repeat; }
.icon-tag_down-min { width: 25px; height: 25px; background: url(../images/icons.png) -386px -2px no-repeat; }
.icon-tag_info-min { width: 25px; height: 25px; background: url(../images/icons.png) -411px -2px no-repeat; }
