<div class="s4y-box">
    <div class="s4y-box-header">
        <h2>{{message "entity.provider.data"}}</h2>
    </div>
    <div class="s4y-box-container">
        {{#if name}}
            <p><strong>{{ name }}</strong></p>
        {{/if}}
        {{#if acronym}}
            <p><em> {{ acronym }} </em></p>
        {{/if}}
        {{#if url}}
            <p><a target="_blank" href="{{url}}">{{ url }}</a></p>
        {{/if}}
        {{#if address}}
            <p><strong>{{ message "entity.provider.address" }}</strong><br /> {{ address }}</p>
        {{/if}}
        {{#if license}}
            <p><strong>{{ message "entity.provider.license" }}</strong><br /> {{ iString license }}</p>
        {{/if}}
    </div>
</div>
