<div class="search-facet">
    <div id="search-title-chosen" class="search-title">
        <span class="search-title-text">{{message "page.search.facets.chosen"}}</span>
    </div>
    {{#each selectedFacets}}
        {{#each constraints}}
            <div class="facet-constraints facet-constraints-chosen facet-constraints-filter" data-fieldname="{{../fieldName}}" data-code="{{code}}">
                {{#if selected}}
                    <div class="checkbox"></div>
                {{else}}
                    <div class="checkboxUnMarked"></div>
                {{/if}}
                <a class="constraint" href="#">{{label}}</a>
            </div>
        {{/each}}
    {{/each}}
</div>


<div class="search-facet">
    <div id="search-title-filters" class="search-title">
        <span class="search-title-text">{{message "page.search.facet.filterby"}}</span>
    </div>

    {{#each facets}}
        <div class="search-subtitle">
            <span class="search-subtitle-text">{{label}}</span>
            {{#if limited}}
                {{#if showingNone}}
                    <a href="#" class="facet-constraints-less" data-fieldname="{{../fieldName}}">
                        <img class="blue-cross" src="{{resourceContext}}images/showMore.png" />
                    </a>
                {{else}}
                    <a href="#" class="facet-constraints-none" data-fieldname="{{../fieldName}}">
                        <img class="blue-cross" src="{{resourceContext}}images/showLess.png" />
                    </a>
                {{/if}}
            {{/if}}
        </div>

        {{#each constraints}}
            <div class="facet-constraints facet-constraints-filter" data-fieldname="{{../fieldName}}" data-code="{{code}}">
                {{#if selected}}
                    <div class="checkbox"></div>
                {{else}}
                    <div class="checkboxUnMarked"></div>
                {{/if}}
                <a class="constraint" href="#">{{label}} ({{count}})</a>
             </div>
        {{/each}}

        {{#if limited}}
            {{#if showingAll}}
                <a href="#" class="limited facet-constraints-less" data-fieldname="{{../fieldName}}">{{ message "page.search.facet.less"}}</a>
            {{else}}
                {{#unless showingNone}}
                    <a href="#" class="limited facet-constraints-more" data-fieldname="{{../fieldName}}">{{ message "page.search.facet.more"}}</a>
                {{/unless}}
            {{/if}}
        {{/if}}
    {{/each}}
</div>