<div id="first-row-internal-page" class="row">
    <div class="search-active-provider search-s4y-img span3">

    </div>
    <div id="search-bar" class="span9">
        <form class="search-form">
            <div class="search-box">
                <input class="search-form-query" type="text" name="q"/>
            </div>
            <div class="search-button">
                <input id="search-button" class="btn btn-primary" type="submit" value="{{message "page.search.button"}}" />
            </div>
        </form>
    </div>
</div>